<nav class="navbar navbar-expand-md bg-danger" data-bs-theme="dark">
  <div class="container-fluid">
    <!-- With Angular-Router, the 'routerLink' is used in place of the 'href' tag -->
    <a routerLink="/" class="navbar-brand" (click)="toggleMenu(true)">
      <img src="../../assets/img/usc-shield-name-white.png" height="30" width="170" alt="USC Shield" />
      <div class="d-none d-lg-inline px-2">{{ navBrandTitle }}</div>
    </a>
  
    <button
      class="navbar-toggler border-white"
      type="button"
      aria-controls="navItemContainer"
      [attr.aria-expanded]="!isCollapsed"
      aria-label="Toggle navigation"
      (click)="toggleMenu()">
        <svg class="toggler-icon-container">
          <line class="toggler-icon" x1="4" y1="7" x2="26" y2="7" />
          <line class="toggler-icon" x1="4" y1="15" x2="26" y2="15" />
          <line class="toggler-icon" x1="4" y1="23" x2="26" y2="23" />
        </svg>
    </button>

    <div *ngIf="!isCollapsed" class="navbar__divider mt-3 border border-bottom"></div>
  
    <div class="collapse navbar-collapse mt-2 mt-md-0" id="navItemContainer" [ngbCollapse]="isCollapsed">
      <ul class="navbar-nav flex-fill">
        <li class="nav-item btn btn-warning my-1 my-lg-0">
          <a class="nav-link p-0 text-light" routerLink="/professions" (click)="toggleMenu(true)">Professions</a>
        </li>
        <li class="nav-item btn btn-warning my-1 my-lg-0">
          <a class="nav-link p-0 text-light" routerLink="/reports" (click)="toggleMenu(true)">Reports</a>
        </li>
        <li class="nav-item btn btn-warning my-1 my-lg-0">
          <a class="nav-link p-0 text-light" routerLink="/employees" (click)="toggleMenu(true)">Employees</a>
        </li>
        <li class="nav-item btn btn-warning my-1 my-lg-0">
          <a class="nav-link p-0 text-light" routerLink="/precautions" (click)="toggleMenu(true)">Precautions</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
