<div class="container mt-2">
  <button type="button" class="btn btn-danger mt-2 mb-4" (click)="goBack()">
    Go Back
  </button>
  <div *ngIf="!profession">
    <h3>Unable to retrieve the proper profession</h3>
  </div>
  <div *ngIf="profession">
    <h2>
      Would you like to edit this Profession?:
      {{ profession.observedOccupation }} {{ profession.serviceDiscipline }}
    </h2>
    <div class="my-4">
      <label>
        ID:
        <input [(ngModel)]="profession._id" placeholder="ID" />
      </label>
    </div>
    <div class="my-4">
      <label>
        Observed Occupation:
        <input [(ngModel)]="profession.observedOccupation" placeholder="Observed Occupation" />
      </label>
    </div>
    <div class="my-4">
      <label>
        Service Discipline:
        <input [(ngModel)]="profession.serviceDiscipline" placeholder="Service Discipline" />
      </label>
    </div>
    <span>
      <button class="btn btn-danger me-4" (click)="update()">
        Save Changes?
      </button>
      <button class="btn btn-danger ms-4" (click)="delete()">
        Delete this Entry?
      </button>
    </span>
  </div>
</div>
