<div class="container mt-2">
  <button type="button" class="btn btn-danger mt-2" (click)="navToProfessionList()">
    Go Back
  </button>
  <div class="ms-4">
    <h2 class="mt-4">Add New Profession</h2>
    <div class="my-3">
      <label for="observedOccupation"> Observed Occupation </label>
      <input id="observedOccupation" name="observedOccupation" type="text" placeholder="Observed Occupation" #observedOccupation data-cy="observedOccupation" />
    </div>
  
    <div class="my-3">
      <label for="serviceDiscipline"> Service Discipline </label>
      <input id="serviceDiscipline" name="serviceDiscipline" type="text" placeholder="Service Discipline" #serviceDiscipline data-cy="serviceDiscipline" />
    </div>
  
    <button
      class="btn btn-danger ms-3 form__submit-button mt-1"
      (click)="
        add(observedOccupation.value, serviceDiscipline.value);
        observedOccupation.value = '';
        serviceDiscipline.value = ''
      "
    >
      Add
    </button>
  </div>
</div>
