<div class="container mt-2">
  <button type="button" class="btn btn-danger mt-2" (click)="navToProfessionList()">
    Go Back
  </button>
  <div class="ms-4">
    <h2 class="mt-4">Add New Profession</h2>
    <div class="my-3">
      <label> 
        Observed Occupation
        <input type="text" placeholder="Observed Occupation" #observedOccupation />
      </label>
    </div>
  
    <div class="my-3">
      <label> 
        Service Discipline
        <input type="text" placeholder="Service Discipline" #serviceDiscipline />
      </label>
    </div>
  
    <button
      class="btn btn-danger ms-3 form__submit-button mt-1"
      (click)="
        add(observedOccupation.value, serviceDiscipline.value);
        observedOccupation.value = '';
        serviceDiscipline.value = ''
      "
    >
      Add
    </button>
  </div>
</div>
