/* $grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
); */

// removes underline from links
// $link-hover-decoration: none;
//$link-color: #3f51b5;
// $link-hover-color: red;
// ! This is how you can add to the map of themes
// ! It's worth noting that you can definitely add in
$theme-colors: (
  "forest": #28a745
);
